KronometerApp/.gradle/
KronometerApp/.idea/workspace.xml
KronometerApp/Kronometer/Kronometer.apk
KronometerApp/Kronometer/build/
KronometerApp/build
KronometerApp/key.store

.idea/workspace.xml
*.pyc
db.sqlite3

kronometer/staticfiles
