<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <style>
        input.start {
            border: 1px solid black;
            width: 3em;
            height: 2em;
        }

        #countdown {
            font-size: 50pt;
            margin-top: 0;
            margin-bottom: 20px;
        }
        td {
            padding-bottom: 10px;
        }

        * {
            font-size: 30pt;
        }


    </style>
</head>
<body>
<p id="countdown">20</p>

<script>


setTimeout(function() {
    var countDownDate = new Date(Date.now() + 20000);
    var x = setInterval(function () {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        if (distance < 0) {
            distance = 0;
        }
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("countdown").innerHTML = seconds;

        if (distance === 0) {
            clearInterval(x);
        }
    }, 100);
}, 0);
</script>

<table>
    {% for biker in not_started %}
        <tr>
        <form action="/biker/start" method="post">
            {% csrf_token %}
            <td>
                <input type="hidden" name="number" value="{{ biker.number }}"/>
                {{ biker.number }}
            </td>
            <td>{{ biker.name }} {{ biker.surname }}</td>
            <td><input class="start" type="submit" value="start"></td>
            </li>
        </form>
    {% endfor %}
    <hr>
    {% for biker in started %}
        <tr>
        <form action="/biker/start" method="post">
            {% csrf_token %}
            <td>
                <input type="hidden" name="number" value="{{ biker.number }}"/>
                {{ biker.number }}
            </td>
            <td>{{ biker.name }} {{ biker.surname }}</td>
            <td><input class="start" type="submit" value="start"></td>
            </li>
        </form>
    {% endfor %}
</table>
</body>
</html>
