{% extends "competition/base.html" %}

{% block title %}
    <h1>Pretekla tekmovanja</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container shadow col-md-6 p-4" style="background-color: white;">
            {% for competition in object_list %}
                <div class="pb-2">
                    <a href="{% url 'competition_detail' slug=competition.slug %}">
                        {{ competition.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
