{% extends "competition/base.html" %}
{% load competition_extras %}

{% block title %}
    <h1>
        <a href="{% url "competition_list" %}">
            {{ competition.name }}
        </a>
    </h1>
    <p>{{ competition.description|safe }}</p>
{% endblock %}

{% block content %}
    <div class="row p-md-4">
        {% if results|length == 1 %}
            <div class="col-md-3"></div>
        {% endif %}
        {% for results_group in results %}
            <div class="col-md-6">
                <div class="container">
                    <h2>{{ results_group.name }}</h2>
                </div>
                {% for section in results_group.sections %}
                    <div class="container shadow p-4 mb-4" style="background: white;">
                        <h4>{{ section.name }}</h4>

                        {% for biker in section.bikers %}
                            <div class="row">
                                <div class="col-1">{{ forloop.counter }}.</div>
                                <div class="col-7">
                                    <a href="{% url "biker_detail" pk=biker.biker.id %}">
                                        {{ biker.biker.name }} {{ biker.biker.surname }}
                                    </a>
                                </div>
                                <div class="col-4"
                                     style="text-align: right;">{{ biker.duration | nice_duration }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
